{
  "presets": [
      [ "env",
          {
              "modules": false,
              "useBuiltIns": "usage"
          }
      ],
      "react",
      "jest"
  ],
  "plugins": [
    ["react-css-modules", {
      "generateScopedName": "[name]__[local]___[hash:base64:5]"
    }]
  ],
  "env": {
      "test": {
          "presets": ["react"],
          "plugins": ["transform-es2015-modules-commonjs"]
      }

  }
}
